<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- Bulma CSS Framework -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />

        <!-- Icon -->
        <script src="https://unpkg.com/feather-icons"></script>

        <link rel="stylesheet" href="./add-transaction.css" />
        <link rel="stylesheet" href="./main.css" />

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="navbar-container">
                <nav class="navbar is-fixed-top custom-navbar">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <h1>Project-E</h1>
                        </div>
                        <div class="navbar-burger">
                            <div
                                class="menu-container is-clickable is-flex is-justify-content-center pt-4"
                            >
                                <span
                                    data-feather="menu"
                                    class="has-text-white"
                                ></span>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-start"></div>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div
                                    class="menu-container is-clickable is-flex is-justify-content-center pt-4"
                                >
                                    <span
                                        data-feather="menu"
                                        class="has-text-white"
                                    ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <section class="section">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-8">
                            <div class="form-box">
                                <div
                                    class="is-flex is-justify-content-center mb-6"
                                >
                                    <h1>Add Transaction</h1>
                                </div>
                                <div class="field">
                                    <label class="label">Amount</label>
                                    <input
                                        type="text"
                                        class="input custom-input"
                                        placeholder="420.69"
                                        v-model="spent"
                                        pattern="\d*"
                                    />
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label class="label"
                                                >Location</label
                                            >
                                            <input
                                                type="text"
                                                class="input custom-input"
                                                placeholder="Apple"
                                                v-model="location"
                                            />
                                        </div>
                                    </div>
                                    <div class="column is-narrow">
                                        <div class="field">
                                            <label class="label">Class</label>
                                            <div class="select">
                                                <select
                                                    v-model="purchaseClass"
                                                    class="custom-input"
                                                >
                                                    <option value="E">
                                                        Essentials
                                                    </option>
                                                    <option value="M">
                                                        Miscellaneous
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field mb-5">
                                    <label class="label">Memo</label>
                                    <textarea
                                        cols="30"
                                        rows="10"
                                        class="textarea custom-input"
                                        v-model="memo"
                                        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                                    ></textarea>
                                </div>
                                <div
                                    class="field is-flex is-justify-content-center"
                                >
                                    <button
                                        class="button custom-button-2"
                                        @click="addTransaction"
                                    >
                                        Add Transaction
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script type="module">
            feather.replace();

            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
            import {
                getFirestore,
                doc,
                updateDoc,
                arrayUnion,
            } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-firestore.js";
            import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-analytics.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries

            let db;

            let app = new Vue({
                el: "#app",
                data: {
                    spent: "",
                    location: "",
                    purchaseClass: "",
                    memo: "",
                },
                mounted() {
                    // Your web app's Firebase configuration
                    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                    const firebaseConfig = {
                        apiKey: "AIzaSyBmyLTbSw80YHmvkLwsnlXwXwifIuyA2wE",
                        authDomain: "project-e-2cad2.firebaseapp.com",
                        projectId: "project-e-2cad2",
                        storageBucket: "project-e-2cad2.appspot.com",
                        messagingSenderId: "120722518527",
                        appId: "1:120722518527:web:55b3bfa442f945f0f5b7ca",
                        measurementId: "G-QCF954245R",
                    };

                    // Initialize Firebase
                    const app = initializeApp(firebaseConfig);
                    const analytics = getAnalytics(app);
                    db = getFirestore(app);
                },
                methods: {
                    addTransaction() {
                        const docRef = doc(
                            db,
                            "user",
                            sessionStorage.getItem("uid")
                        );

                        updateDoc(docRef, {
                            transactions: arrayUnion({
                                spent: this.spent,
                                location: this.location,
                                class: this.purchaseClass,
                                memo: this.memo,
                            }),
                        }).then(
                            () => (window.location.href = "dashboard.html")
                        );
                    },
                },
            });
        </script>
    </body>
</html>
