.add-transaction-box
{
    padding: 3rem 3rem;

    background-color: #fbfbfb;

    border-radius: 0.75rem;
}

.custom-input
{
    padding: 1.5rem;
    
    font-family: "Work Sans", Helvetica, sans-serif;

    border: none !important;
    box-shadow: none;
}